.features-container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

h2 {
    text-transform: capitalize;
}

.show {
    display: block;
}

.feature-card {
    background: transparent;
    border: 2px double transparent;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, .15);
    transition: border .3s;
    color: #000 !important;
    backdrop-filter: blur(5px);
}

.features-container button {
    color: #fff;
}

.features-main {
    position: relative;
    overflow: hidden;
}

.feature-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 40%;
    left: -20%;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--purple), var(--violet));
    z-index: -1;
    box-shadow: 3px 3px 55px #f700ff95;
    backdrop-filter: drop-shadow(0, 0, 0, 0.5);
    overflow: hidden;
}

.small-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -10%;
    right: -5% !important;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--yellow), var(--violet), var(--purple));
    z-index: -1;
}

@media screen and (max-width: 1000px) {
    .features-container {
        margin-top: -4rem;
    }
    .feature-circle,
    .small-circle {
        display: none;
    }
    .feature-card {
        width: 100%;
        margin: auto;
    }
}