ol {
    padding-left: 10px;
}

footer {
    background: url(../assets/images/footer\ scale.png);
}

.footer-container {
    max-width: 1300px;
}

.footer-container .img-header {
    width: 220px;
    margin-top: 0rem;
    margin-left: -1rem;
}

.footer-container .list-none {
    font-size: 15px;
}

.footer-container .img-header img {
    width: 100%;
}

footer.bg-custom {
    /* background: linear-gradient(270deg, var(--purple), var(--blue)) !important; */
    background: url(../assets/images/footer\ scale.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .bg-custom {
    background: white;
}

.footer-container .text-black:hover {
    color: var(--violet)!important;
}

.styles_scroll-to-top__2A70v {
    background-color: linear-gradient(45deg, var(--yellow), var(--violet), var(--purple));
    right: 0px;
    bottom: 30px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
    outline: none;
}

.footer-medias {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 2%;
    transform: translate(0%, -50%);
    color: var(--purple);
    flex-direction: column;
}

.footer-media {
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    color: black;
    background: linear-gradient(45deg, var(--violet), var(--purple));
}

#footer .title-font {
    font-size: 1rem !important;
}

#footer ul li {
    font-size: .9rem !important;
}

#footer ul li a {
    font-size: 14px !important;
}

.footer-media i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.footer .copyright {
    border: 1px solid black !important;
}

@media screen and (max-width: 1000px) {
    .footer-medias {
        right: 4%;
    }
}