                   :root {
                      --white: #fff;
                      --black: #171717;
                      --cyan: #00f5ff;
                      --lightblack: #202020;
                      --lightgrey:#F2F2F2;
                  }
                  
                  * {
                      margin: 0;
                      padding: 0;
                      box-sizing: border-box;
                  }
                  
                  .particle-container {
                      width: 100%;
                  }
                  
                  #particlejs {
                      background: var(--lightblack);
                      width: 100%;
                      height: 90vh;
                  }
                  
                  .container-hero {
                      position: relative;
                  }
                  
                  .careers,
                  .aboutUs,
                  .blogs,
                  .bvc {
                      height: 100vh;
                      background-position: center;
                      background-size: cover;
                      color: black;
                  }
                  
                  .careers div,
                  .blogs div,
                  .bvc div {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      padding: 1rem;
                      z-index: 0;
                  }
                  
                  .main .typing {
                      width: 90%;
                      margin: 1rem auto;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      color: white;
                  }
                  
                  .typingEffect {
                      font-size: 25px;
                      width: auto;
                      display: flex;
                      align-items: center;
                      margin: 0rem;
                  }
                  
                  .images {
                      display: flex;
                      overflow-y: hidden;
                  }
                  
                  .images img {
                      width: 100vw;
                      height: 100vh;
                  }
                  
                  .slide {
                      width: 80vw;
                      height: 100vh;
                      margin: 0rem 10rem;
                  }
                  
                  .outer-wrapper {
                      width: 100vh;
                      height: 100vw;
                      transform: rotate(-90deg) translateX(-100vh);
                      transform-origin: top left;
                      overflow-y: scroll;
                      overflow-x: hidden;
                      position: absolute;
                      scrollbar-width: none;
                      -ms-overflow-style: none;
                      border: 1px solid;
                  }
                  /* wrapper containing our slides */
                  
                  .wrapper {
                      display: flex;
                      flex-direction: row;
                      width: 400vw;
                      transform: rotate(90deg) translateY(-100vh);
                      transform-origin: top right;
                      overflow-y: hidden;
                  }
                  
                   ::-webkit-scrollbar {
                      display: none;
                  }
                  
                  .line {
                      line-height: 8px;
                  }
                  
                  .line-1 {
                      width: 15px;
                      height: 15px;
                      background: var(--cyan);
                      display: inline-block;
                  }
                  
                  .line-2 {
                      width: 80px;
                      height: 1px;
                      background: var(--cyan);
                      display: inline-block;
                  }
                  
                  .line-3 {
                      width: 60px;
                      height: 1px;
                      background: var(--cyan);
                      display: inline-block;
                  }
                  
                  .typing {
                      width: 100%;
                      display: inline-block;
                      margin: auto;
                      text-align: center;
                  }
                  
                  .typing h1 {
                      font-size: 80px;
                      font-weight: normal;
                      text-align: left;
                      font-family: 'Kristi', sans-serif;
                      line-height: 1;
                  }
                  
                  .typingEffect {
                      font-size: 2rem;
                      width: 100%;
                      margin: auto;
                      color: var(--cyan);
                  }
                  
                  .btn {
                      outline: none;
                      border: none;
                      padding: 1rem;
                      margin: 1rem 0;
                      background: transparent;
                      font-weight: bold;
                      border: 2px solid var(--cyan) !important;
                      color: var(--cyan) !important;
                  }

                  .btn:hover{
                      background-color:var(--cyan) !important;
                      color: var(--black) !important;
                  }
                  
                  .uniqueness {
                      padding-bottom: 3rem;
                      background: var(--white)!important;
                      color: var(--black)!important;
                  }
                  
                  .bg-cyan {
                      background: var(--cyan);
                  }
                  
                  .features,
                  .careers,
                  .aboutUs,
                  .blogs,
                  .bvc {
                      position: relative;
                      z-index: 0;
                  }
                  
                  .careers,
                  .bvc {
                      background: lightgoldenrodyellow;
                      background-size: cover;
                      background-position: center;
                      background-attachment: fixed;
                      height: 100vh;
                      overflow: hidden;
                      background-repeat: no-repeat;
                  }
                  /* Uniqueness */
                  
                  .unique-card {
                      scale: 1;
                  }
                  
                  .unique-card:hover {
                      scale: 1.2;
                  }
                  
                  .accord {
                      width: 100%;
                      display: flex;
                      align-items: baseline;
                      justify-content: space-around;
                  }
                  
                  .accordion {
                      display: flex;
                      align-items: flex-start;
                      justify-content: space-around;
                      flex-wrap: wrap;
                      margin: 0rem 2rem;
                      width: 100%;
                      transition: all 1s ease-in;
                  }
                  
                  .accordion-item {
                      margin: 1rem;
                      width: 100%;
                      border-radius: 1rem;
                      box-shadow: 0px 0px 10px #bcc4c4;
                      transition: all 1s ease;
                  }
                  
                  .accordion-title {
                      display: flex;
                      padding: 1rem;
                      align-items: center;
                      justify-content: space-between;
                      cursor: pointer;
                      border-radius: 1rem;
                      transition: all 1s ease-in;
                  }
                  
                  .accordion-title:nth-child(2) {
                      color: var(--cyan);
                  }
                  
                  .accordion-content {
                      padding: 1rem;
                  }
                  /* Features */
                  
                  .features {
                      padding: 0 2rem;
                      background-color:var(--lightgrey);
                  }
                  
                  .cards-slider {
                      overflow: hidden;
                      white-space: nowrap;
                      width: 750px;
                      height: 100%;
                      position: relative;
                      display: inline-block;
                      /* background: #e3e3e3 */
                      margin: 5px 0;
                      border: 1px solid #D8D8D8;
                      box-shadow: 1px 1px 10px #D8D8D8;
                  }
                  
                  .card {
                      text-align: left;
                      /* background: #fff; */
                      width: 385px;
                      position: relative;
                      display: inline-block;
                      transition: transform .2s ease-in-out;
                      vertical-align: top;
                      padding: 20px 25px;
                      z-index: 0;
                  }
                  
                  .card-item {
                      box-shadow: 2px 2px 5px rgba(65, 216, 216, 0.404);
                      transition: all .5s ease;
                      background-color: var(--white);
                      border: none;
                  }
                  
                  .card-item:hover {
                      box-shadow: 2px 2px 5px rgba(65, 216, 216, 1);
                  }
                  
                  .card .title {
                      font-weight: 600;
                      font-size: 18px;
                      border-bottom: 1px solid #D8D8D8;
                  }
                  
                  .card .desc {
                      font-size: 14px;
                      word-wrap: break-word;
                      white-space: -moz-pre-wrap;
                      white-space: pre-wrap;
                  }
                  
                  .card img {
                      display: block;
                      position: relative;
                      width: 30px;
                  }
                  
                  .swiper-container {
                      height: 17rem;
                  }
                  
                  .swiper-pagination-bullet.swiper-pagination-bullet-active {
                      background: rgb(65, 216, 216)!important;
                  }
                  
                  .slider-btn {
                      padding: 0;
                      font-size: 20px;
                      text-align: center;
                      color: #b3b3b3;
                      width: 45px;
                      height: 100%;
                      border: 0;
                      cursor: pointer;
                      background: none;
                      outline: none;
                      position: absolute;
                      z-index: 999;
                      transition: all 0.6s ease 0s;
                  }
                  
                  .slider-btn:hover {
                      color: #5f5f5f;
                      background: rgba(0, 0, 0, 0.2);
                  }
                  
                  .btn-r {
                      right: 0;
                  }
                  
                  .btn-l {
                      left: 0px;
                  }
                  
                  .careers {
                      background: url(https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      background-attachment: fixed;
                  }
                  
                  .bvc {
                      background: black;
                      border-top: 2px dotted var(--cyan);
                      padding: 1rem 0;
                      color: white;
                  }
                  
                  .bvc h3 {
                      font-size: 24px;
                  }
                  
                  .bvc div {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      display: flex;
                      align-items: center;
                      flex-direction: column;
                  }
                  
                  .bvc .btn {
                      /* background: linear-gradient(150deg, var(--black) 95%, var(--white) 50%); */
                      /* color: white; */
                      border: none;
                      transition: all .2s linear;
                  }
                  
                  /* .bvc .btn:hover {
                      background: linear-gradient(150deg, var(--white) 95%, var(--black) 50%);
                      color: black;
                  } */
                  
                  .bg-custom {
                      background: #0c2315;
                  }
                  
                  footer .img-header {
                      width: 150px;
                  }
                  
                  @media screen and (max-width: 960px) {
                      .particles {
                          display: block;
                          width: 100%;
                          height: 90vh;
                      }
                      .main {
                          color: black;
                          background: var(--white)!important;
                          width: 100%;
                      }
                      .main div {
                          padding: 5px;
                          width: 90%;
                          left: 0%;
                          top: 15%;
                          margin: 1rem;
                          transform: translate(0, 0);
                      }
                      .typing {
                          display: flex;
                          align-items: baseline;
                          justify-content: space-around;
                          flex-direction: column;
                          height: 15vh;
                      }
                      .typing h1 {
                          font-size: 3rem;
                      }
                      .typing .typingEffect {
                          padding: 0px;
                          margin: 0rem;
                          font-size: 1rem;
                          width: 100%;
                          text-align: left;
                          margin: auto;
                          color: var(--cyan)!important;
                      }
                      .typingEffect div {
                          margin: 0;
                          height: 20px;
                      }
                      .typingEffect span {
                          display: none!important;
                      }
                      .uniqueness {
                          margin: 0 1rem;
                          padding-bottom: 3rem;
                          background: var(--lightblack)!important;
                          color: var(--white)!important;
                      }
                      .accord {
                          flex-direction: column;
                          padding: 0;
                          margin: 0;
                      }
                      .accordion {
                          padding: 5px;
                          width: 100%;
                          margin: 2.5px;
                      }
                      .accordion-item {
                          margin: 2.5px 0;
                          padding: 0 .5rem;
                      }
                      .features {
                          margin: 0;
                          padding: 0;
                      }
                      .feature-container {
                          padding: 0;
                      }
                      .feature-header,
                      .about-header {
                          margin-bottom: 15px;
                      }
                      .features .card {
                          padding: .5rem;
                          margin: auto;
                          width: 355px;
                      }
                      .aboutUs {
                          margin: 3rem 0;
                          margin-bottom: 1rem;
                          height: auto;
                          text-align: left;
                      }
                      .about-container .leading-relaxed {
                          padding: 1rem;
                          text-align: left;
                      }
                      .bvc div {
                          top: 25%;
                          left: 0%;
                          padding: 1rem;
                          transform: translate(0, 0);
                      }
                      footer .container {
                          padding: 3rem 0;
                      }
                  }
                  
                  @media screen and (min-width: 1000px) {
                      .uniqueness {
                          padding-bottom: 0rem;
                      }
                      .aboutUs {
                          height: auto;
                      }
                      .about-container {
                          margin: 1rem 2.75rem;
                      }
                      .bvc {
                          height: 90vh;
                      }
                      footer {
                          display: block;
                      }
                  }