ol {
    padding-left: 10px;
}

.footer-container .img-header {
    width: 250px;
}

.footer-container .text-gray-400:hover {
    color: cyan!important;
}

.styles_scroll-to-top__2A70v {
    background-color: white;
    left: 40px;
    bottom: 30px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
    outline: none;
}