.modal {
    font-size: 12px;
    color: var(--white);
    margin: 1rem;
    padding: 1rem;
    background: transparent;
}

.modal-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background: transparent;
}

.modal-1 {
    padding: 0 10px;
    width: 100%;
    text-align: left;
}

.modal-1 img {
    width: 100%;
}

.modal-1 .btn {
    margin: 0rem;
    text-align: center;
    width: 50%;
    border-color: transparent;
    color: white;
    background: radial-gradient(var(--purple), var(--blue));
    transform: translate(50%);
    transition: .3s;
}

.modal-1 .btn:hover {
    box-shadow: 0px 3px 55px rgba(247, 4, 255, 0.15);
}

.modal-1 ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.modal .modal-1>.header {
    width: 100%;
    border-bottom: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    color: var(--white);
    margin-bottom: .5rem;
}

.modal .modal-1>.content {
    width: 100%;
    font-size: 15px;
    padding: 1rem 0;
}

.modal>.actions {
    width: 100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: var(--violet);
    border-radius: 2rem;
    border: 1px solid var(--white);
    box-shadow: 0px 3px 55px rgba(255, 255, 255, .5);
    color: var(--white);
}

.popup-content {
    background: var(--violet);
    border: none;
    padding: 2px;
    margin: 2rem;
    box-shadow: 0px 3px 75px rgba(0, 0, 0, .15);
    width: 500px;
}

@media screen and (max-width: 1000px) {
    .modal {
        margin: 0rem;
    }
    .modal-container {
        flex-direction: column;
    }
    .popup-content {
        width: 320px;
        top: inherit;
    }
    .modal-2 {
        display: none;
    }
    .modal-1 .btn {
        transform: translateX(50%);
    }
}