.demo {
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media only screen and (max-width: 760px) {
    .demo {
        background: linear-gradient(-70deg, cyan 10%, #202020 10%);
    }
}

.fields {
    width: 100%;
}

.demo h1 {
    text-align: center;
}

.field-img {
    width: 50%;
    margin: auto;
}

.field-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    padding: 1rem;
    margin: auto;
}

.field {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
}

.demo-container {
    max-width: 1300px;
    margin: 2rem auto;
    margin-bottom: 0;
}

.demo-container p {
    text-align: center;
    width: 100%;
}

.subscription-fee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    text-align: left;
}

.course-feat {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subs-price-1 {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0;
}

.subs-price-1 small {
    text-decoration: line-through;
}

.course-feat li {
    padding: 1rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    margin: 1rem;
    width: 275px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.price-list li:nth-child(2n+1) {
    background: transparent;
}

.price-list li {
    border-bottom: 1px dotted rgba(134, 134, 134, 0.2);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-check-circle {
    font-size: 14px;
}

.btn {
    border: 2px solid var(--cyan);
    color: var(--cyan);
    font-weight: normal;
}

.btn:hover {
    background: var(--cyan);
    color: var(--black);
    border: 2px solid var(--black);
}

.btn-link {
    padding: 9px 25px;
    font-weight: normal;
    border-radius: 2rem !important;
    background: linear-gradient(45deg, var(--orange), var(--violet));
    color: white;
    transition: all 3s ease;
}

.group-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem;
}

.btn-link:hover {
    color: #fff;
    background: linear-gradient(-45deg, var(--orange), var(--violet));
}

.price-list-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.price-list-1 .subs {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    margin: 2rem auto;
    width: 250px;
    height: 250px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #111;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.1rem solid transparent;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 0px 3px 9px rgb(0 0 0 / 50%);
}

@media screen and (max-width: 1000px) {
    .demo {
        background: white;
    }
    .demo-container {
        margin: .25rem!important;
        margin-top: 3rem!important;
    }
    .demo-container p,
    .demo-container h1 {
    }
    .demo-contents p,
    .demo-contents h1 {
        margin: .5rem 0;
    }
    .price-list-1 li {
        align-items: baseline;
        flex-direction: column;
    }
    .btn-link {
        margin: 1rem 0;
    }
    .subs-price {
        margin: 1rem 0;
    }
    .price-list-1 {
        flex-direction: column;
    }
    .field-list {
        flex-direction: column !important;
    } 
}

@media and (max-width: 768px) {
    .demo {
        padding: 2rem;
    }
    .field-list {
        flex-direction: column !important;
    } 
}